# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName davetwoday.com
AuthUserFile /home/davetwod/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/davetwod/public_html/_vti_pvt/service.grp
# AddHandler application/x-httpd-php5 .php5 .php4 .php .php3 .php2 .phtml .html .htm . shtml 
AddType application/x-httpd-php5 .php5 .php4 .php .php3 .php2 .phtml .html .htm . shtml